@import url(https://fonts.googleapis.com/css?family=Space+Mono);
* {
    box-sizing: border-box;
}

body {
    padding: 10px;
    font-size: 16px;
    font-family: 'Space Mono', sans-serif;
    text-align: center;
    background-color: #eaf0ff;
    color: #002868;
}

h1 {
    font-size: 1.5em;
}

small {
    color: #888;
}

@media (min-width: 780px) {
    .wrapper {
        width: 600px;
        display: grid;
        grid-template-columns: repeat(2, [col] calc(100%/2));
        grid-auto-rows: 120px;
        margin: 30px auto 40px;
    }
}
.button {
    display: inline-block;
    min-width: 150px;
    margin: 20px auto;
    background: #8BC34A;
    color: #fefefe;
    font-size: 1.2em;
    padding: 1em;
    border-radius: 4px;
    text-align: center;
    position: relative;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    transition: width ease-in 0.15s;
}
.button:focus {
    outline: 0;
}
.button.animate {
    width: 68.1818181818px;
    height: 68.1818181818px;
    min-width: 0;
    border-radius: 50%;
    color: transparent;
}
.button.animate:after {
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    border: 4px solid #fefefe;
    border-radius: 50%;
    border-left-color: transparent;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    animation: spin ease-in 2.5s forwards;
    animation-name: spin;
    -webkit-animation-name: spin;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    animation-duration: 2.5s;
    -webkit-animation-duration: 2.5s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
.button.animate.success:before {
    position: absolute;
    content: '';
    width: 25px;
    height: 12.5px;
    border: 4px solid #fefefe;
    border-right: 0;
    border-top: 0;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(0);
    transform: translate(-50%, -50%) rotate(0deg) scale(0);
    -webkit-animation: success ease-in 0.15s forwards;
    animation: success ease-in 0.5s forwards;
    animation-delay: 2.5s;
}
.button.animate.error {
    position: relative;
    -webkit-animation: vibrate ease-in 0.5s forwards;
    animation: vibrate ease-in 0.5s forwards;
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}
.button.animate.error:before {
    color: #fff;
    position: absolute;
    content: '!';
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    -webkit-animation: error ease-in 0.5s forwards;
    animation: error ease-in 0.5s forwards;
    animation-delay: 2.5s;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }
    90% {
        transform: translate(-50%, -50%) rotate(1080deg) scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }
    98% {
        -webkit-transform: translate(-50%, -50%) rotate(1080deg) scale(1);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(1080deg) scale(0);
    }
}
@keyframes success {
    from {
        transform: translate(-50%, -50%) rotate(0) scale(0);
    }
    to {
        transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    }
}
@-webkit-keyframes success {
    from {
        -webkit-transform: translate(-50%, -50%) rotate(0) scale(0);
    }
    to {
        -webkit-transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    }
}
@keyframes error {
    from {
        transform: translate(-50%, -50%) scale(0);
    }
    to {
        transform: translate(-50%, -50%) scale(1);
        background-color: #f44336;
    }
}
@-webkit-keyframes error {
    from {
        -webkit-transform: translate(-50%, -50%) scale(0);
    }
    to {
        -webkit-transform: translate(-50%, -50%) scale(1);
        background-color: #f44336;
    }
}
@keyframes vibrate {
    0%, 30%, 60%, 85%, 100% {
        left: 0;
        background-color: #f44336;
    }
    10%, 40%, 90%, 70% {
        left: -2px;
        background-color: #f44336;
    }
    20%, 50%, 80%, 95% {
        left: 2px;
        background-color: #f44336;
    }
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

/* свойства модального окна по умолчанию */
.modal {
    position: fixed;
    /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    /* цвет фона */
    z-index: 1050;
    opacity: 0;
    /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    /* анимация перехода */
    pointer-events: none;
    /* элемент невидим для событий мыши */
}

/* при отображении модального окно */
.modal:target {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
}

/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 30px auto;
    }
}

/* свойства для блока, содержащего контент модального окна */
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

@media (min-width: 768px) {
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
}

/* свойства для заголовка модального окна */
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}

.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}

/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}

/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}

/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}
